<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{812,786}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{812,786}}</string>
                <key>sourceSize</key>
                <string>{812,836}</string>
            </dict>
            <key>BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1756},{126,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{126,52}}</string>
                <key>sourceSize</key>
                <string>{186,80}</string>
            </dict>
            <key>Highest score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,782},{182,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,102}}</string>
                <key>sourceSize</key>
                <string>{182,102}</string>
            </dict>
            <key>Pause button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1678},{207,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,175}}</string>
                <key>sourceSize</key>
                <string>{207,175}</string>
            </dict>
            <key>Pause button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1678},{205,167}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,167}}</string>
                <key>sourceSize</key>
                <string>{207,175}</string>
            </dict>
            <key>T1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{1030,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1030,46}}</string>
                <key>sourceSize</key>
                <string>{1036,46}</string>
            </dict>
            <key>T2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{1043,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1043,61}}</string>
                <key>sourceSize</key>
                <string>{1045,61}</string>
            </dict>
            <key>TIPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1840},{109,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{109,68}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1847},{160,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,85}}</string>
                <key>sourceSize</key>
                <string>{160,85}</string>
            </dict>
            <key>ad1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1678},{160,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,85}}</string>
                <key>sourceSize</key>
                <string>{160,85}</string>
            </dict>
            <key>backGround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,782},{669,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,180}}</string>
                <key>sourceSize</key>
                <string>{669,180}</string>
            </dict>
            <key>backGround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{647,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,81}}</string>
                <key>sourceSize</key>
                <string>{647,81}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1453},{169,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,97}}</string>
                <key>sourceSize</key>
                <string>{169,97}</string>
            </dict>
            <key>blockBoard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{616,778}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,778}}</string>
                <key>sourceSize</key>
                <string>{616,778}</string>
            </dict>
            <key>blockBoard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,982},{556,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,694}}</string>
                <key>sourceSize</key>
                <string>{556,694}</string>
            </dict>
            <key>dled_llght.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{549,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,683}}</string>
                <key>sourceSize</key>
                <string>{549,683}</string>
            </dict>
            <key>leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,782},{225,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,164}}</string>
                <key>sourceSize</key>
                <string>{225,164}</string>
            </dict>
            <key>llght_blg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{714,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,702}}</string>
                <key>sourceSize</key>
                <string>{714,702}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,651},{245,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,45}}</string>
                <key>sourceSize</key>
                <string>{245,45}</string>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1951},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>photo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,790},{788,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,168}}</string>
                <key>sourceSize</key>
                <string>{788,168}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,1678},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1847},{196,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,157}}</string>
                <key>sourceSize</key>
                <string>{196,157}</string>
            </dict>
            <key>prompt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1552},{202,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,157}}</string>
                <key>sourceSize</key>
                <string>{202,157}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1884},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,948},{19,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,148}}</string>
                <key>sourceSize</key>
                <string>{19,148}</string>
            </dict>
            <key>saa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1813},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>scoreBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1756},{206,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,77}}</string>
                <key>sourceSize</key>
                <string>{206,77}</string>
            </dict>
            <key>shutDown01.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1964},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>shutDown02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1813},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>sp1 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1822},{240,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,214}}</string>
                <key>sourceSize</key>
                <string>{240,214}</string>
            </dict>
            <key>sp1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1580},{240,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,214}}</string>
                <key>sourceSize</key>
                <string>{240,214}</string>
            </dict>
            <key>sp2 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1571},{240,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,214}}</string>
                <key>sourceSize</key>
                <string>{240,214}</string>
            </dict>
            <key>sp2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1329},{240,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,214}}</string>
                <key>sourceSize</key>
                <string>{240,214}</string>
            </dict>
            <key>squirrel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1047},{280,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,214}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>startAd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{978,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{978,200}}</string>
                <key>sourceSize</key>
                <string>{978,200}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,898},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1024},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,948},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,948},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,948},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,1024},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>xad.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1494},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>phopo.png</string>
            <key>size</key>
            <string>{1844,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cca77861a50ad49cad9cf3535df613d:1/1$</string>
            <key>textureFileName</key>
            <string>phopo.png</string>
        </dict>
    </dict>
</plist>
