<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PERFECP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{490,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,90}}</string>
                <key>sourceSize</key>
                <string>{490,90}</string>
            </dict>
            <key>_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{475,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,87}}</string>
                <key>sourceSize</key>
                <string>{475,87}</string>
            </dict>
            <key>_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{495,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,88}}</string>
                <key>sourceSize</key>
                <string>{495,88}</string>
            </dict>
            <key>_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{493,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,88}}</string>
                <key>sourceSize</key>
                <string>{493,88}</string>
            </dict>
            <key>_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,87}}</string>
                <key>sourceSize</key>
                <string>{497,87}</string>
            </dict>
            <key>_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,479},{495,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,87}}</string>
                <key>sourceSize</key>
                <string>{495,87}</string>
            </dict>
            <key>_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,499},{494,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,88}}</string>
                <key>sourceSize</key>
                <string>{494,88}</string>
            </dict>
            <key>_x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,497},{496,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,87}}</string>
                <key>sourceSize</key>
                <string>{496,87}</string>
            </dict>
            <key>_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,498},{494,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,87}}</string>
                <key>sourceSize</key>
                <string>{494,87}</string>
            </dict>
            <key>_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{494,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,87}}</string>
                <key>sourceSize</key>
                <string>{494,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>X123456789.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8ac307f5aebb364f3eedecc138858d:1/1$</string>
            <key>textureFileName</key>
            <string>X123456789.png</string>
        </dict>
    </dict>
</plist>
