<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_eliminate_color_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,765},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_eliminate_color_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,981},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,955},{107,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,119}}</string>
                <key>sourceSize</key>
                <string>{107,119}</string>
            </dict>
            <key>effect_eliminate_color_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,964},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,964},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,919},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,890},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,863},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,836},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,836},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,765},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_eliminate_color_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,890},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,844},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,836},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,717},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,717},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,717},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1011},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_eliminate_color_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,767},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>effect_eliminate_color_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,888},{182,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,121}}</string>
                <key>sourceSize</key>
                <string>{182,121}</string>
            </dict>
            <key>effect_eliminate_color_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{194,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,121}}</string>
                <key>sourceSize</key>
                <string>{194,121}</string>
            </dict>
            <key>effect_eliminate_color_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,767},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,767},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,765},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,644},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,644},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,767},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>effect_eliminate_color_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,888},{196,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,121}}</string>
                <key>sourceSize</key>
                <string>{196,121}</string>
            </dict>
            <key>effect_eliminate_color_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,858},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,841},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,767},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,594},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,663},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,517},{198,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{198,121}</string>
            </dict>
            <key>effect_eliminate_color_02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,888},{182,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,121}}</string>
                <key>sourceSize</key>
                <string>{182,121}</string>
            </dict>
            <key>effect_eliminate_color_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,517},{225,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,75}}</string>
                <key>sourceSize</key>
                <string>{225,75}</string>
            </dict>
            <key>effect_eliminate_color_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,587},{271,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,125}}</string>
                <key>sourceSize</key>
                <string>{271,125}</string>
            </dict>
            <key>effect_eliminate_color_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,517},{267,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,125}}</string>
                <key>sourceSize</key>
                <string>{267,125}</string>
            </dict>
            <key>effect_eliminate_color_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{256,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,125}}</string>
                <key>sourceSize</key>
                <string>{256,125}</string>
            </dict>
            <key>effect_eliminate_color_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,714},{267,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,125}}</string>
                <key>sourceSize</key>
                <string>{267,125}</string>
            </dict>
            <key>effect_eliminate_color_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,587},{269,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,125}}</string>
                <key>sourceSize</key>
                <string>{269,125}</string>
            </dict>
            <key>effect_eliminate_color_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,513},{271,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,125}}</string>
                <key>sourceSize</key>
                <string>{271,125}</string>
            </dict>
            <key>effect_eliminate_color_03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,390},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_03_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,206},{275,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,125}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>effect_eliminate_color_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,641},{267,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,122}}</string>
                <key>sourceSize</key>
                <string>{267,122}</string>
            </dict>
            <key>effect_eliminate_color_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,640},{269,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,125}}</string>
                <key>sourceSize</key>
                <string>{269,125}</string>
            </dict>
            <key>effect_eliminate_color_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,390},{271,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,125}}</string>
                <key>sourceSize</key>
                <string>{271,125}</string>
            </dict>
            <key>effect_eliminate_color_03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,514},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_03_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,390},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_03_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,79},{275,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,125}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>effect_eliminate_color_03_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,460},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_03_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,333},{273,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,125}}</string>
                <key>sourceSize</key>
                <string>{273,125}</string>
            </dict>
            <key>effect_eliminate_color_04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2},{300,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>effect_eliminate_color_04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,261},{342,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,127}}</string>
                <key>sourceSize</key>
                <string>{342,127}</string>
            </dict>
            <key>effect_eliminate_color_04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,384},{330,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,127}}</string>
                <key>sourceSize</key>
                <string>{330,127}</string>
            </dict>
            <key>effect_eliminate_color_04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{342,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,127}}</string>
                <key>sourceSize</key>
                <string>{342,127}</string>
            </dict>
            <key>effect_eliminate_color_04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,261},{344,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,127}}</string>
                <key>sourceSize</key>
                <string>{344,127}</string>
            </dict>
            <key>effect_eliminate_color_04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{345,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,127}}</string>
                <key>sourceSize</key>
                <string>{345,127}</string>
            </dict>
            <key>effect_eliminate_color_04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>effect_eliminate_color_04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,129}}</string>
                <key>sourceSize</key>
                <string>{346,129}</string>
            </dict>
            <key>effect_eliminate_color_04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,132},{345,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,127}}</string>
                <key>sourceSize</key>
                <string>{345,127}</string>
            </dict>
            <key>effect_eliminate_color_04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{344,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,126}}</string>
                <key>sourceSize</key>
                <string>{344,126}</string>
            </dict>
            <key>effect_eliminate_color_04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,389},{343,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,123}}</string>
                <key>sourceSize</key>
                <string>{343,123}</string>
            </dict>
            <key>effect_eliminate_color_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,261},{342,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,121}}</string>
                <key>sourceSize</key>
                <string>{342,121}</string>
            </dict>
            <key>effect_eliminate_color_04_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2},{300,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>effect_eliminate_color_04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,262},{344,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,125}}</string>
                <key>sourceSize</key>
                <string>{344,125}</string>
            </dict>
            <key>effect_eliminate_color_04_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,132},{345,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,127}}</string>
                <key>sourceSize</key>
                <string>{345,127}</string>
            </dict>
            <key>effect_eliminate_color_04_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>effect_eliminate_color_04_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,129}}</string>
                <key>sourceSize</key>
                <string>{346,129}</string>
            </dict>
            <key>effect_eliminate_color_04_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>effect_eliminate_color_04_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,132},{345,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,127}}</string>
                <key>sourceSize</key>
                <string>{345,127}</string>
            </dict>
            <key>effect_eliminate_color_04_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,133},{344,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,127}}</string>
                <key>sourceSize</key>
                <string>{344,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_eliminate_color.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1160fd0c91362125dc086164d3f3076:1/1$</string>
            <key>textureFileName</key>
            <string>effect_eliminate_color.png</string>
        </dict>
    </dict>
</plist>
